<footer class="text-light text-center p-3 fs-3 border-top border-5 border-warning bg-dark">
  <div class="copy-right d-flex flex-column gap-4 mb-4">
           <span> CopyRight &copy; 2022</span>
            <span class="fw-bold fs-2">
            <span class="text-success mx-3">Alaa</span>
            <span class="text-danger mx-3">Sameh</span>
            <span class="text-success mx-3">Kareem</span>
            <span class="text-danger mx-3">Said</span>
            <span class="text-info mx-3">Yara</span>
            <span class="text-primary mx-3">Beshoy</span>
          </span>
        </div>
</footer>
